
  * {
  box-sizing: border-box;   

  }

  body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4
  h5,
  h6 {
  margin: 0;
  }

  p {
  margin: 0;
  }
  .main-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 100px auto 100px; 
  grid-template-areas: 
  'header header header'
  'hero-banner hero-banner hero-banner'
  'footer footer footer';
  }
  header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 30px;
  grid-area: header;

  }
  #navbar {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;  
  }
  nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  }
  nav ul li{
  display: inline;
  padding: 0 16px;
  }
  nav a {
  color: #040900;
  font-weight: bold;
  text-decoration: none;
  }
  nav a:hover {
  color: #fff;
  }

  .hero-banner{
  background-image: url(/challenge/starter/images/02-hero-bg.jpg);
  grid-area: hero-banner;
  padding-right: 10px; 
  }

  #self-portrait{ 
  width: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;  
  }

  .page-wrapper{
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
  }
  .work-page h2 {
  font-size: 2rem;
  text-align: left;
  padding-right: 2rem;
  }

  #work {
  margin-top: 2rem;
  }


  /*

  .work{
  display: grid;
  grid-area: work;
  }
  .contact{
  display: grid;
  grid-area: contact;
  }*/



  #content{
  background-color: cornflowerblue;
  height: auto;
  width: auto;
  grid-template-columns: repeat(4 1fr);

  /*border-right: 5px black;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3 1fr);
  display: grid; */

  }

  .container-header{
  display: grid;
  width: 55vw;
  grid-template-rows: repeat(2 1fr);
  grid-template-columns: 400px 200px 200px;
  grid-gap: 10px;
  } 


  /*.img{
      max-width: 100%;
      height: auto;
      display: block;
  }*/

  /* portfolio container */
  .portfolio {
      display: flex;
      padding: 50px;
  }
  .multi-row {
      display: flex;
  }
  .SurfReport-img {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr; 
      background-image: url(/challenge/starter/images/02-portfolio-1.jpg);
      padding-top: 300px;
      padding-left: 20px;
  }
  .SurfReport- {
      background-color: aliceblue;
      width: 100px;
      height: 100px;   
  }